[run]
source = sharppy
omit = 
    */tests*
    _*.py
    sharppy/gui.py
    sharppy/sounding.py
    sharppy/_version.py
    sharppy/_sharppy_version.py
    sharppy/__git_version__.py

[report]
exclude_lines = 
    if __name__ == .__main__.:
    logging.debug
    def _*
    def swapInset(self):
    def keyPressEvent(self, e):
    def focusPicker(self):
    def wheelEvent(self, e):
    def mouseReleaseEvent(self, e):
    def updateReadout(self):
    def setReadoutCursor(self):
    def setNoCursor(self):
    def resizeEvent(self, e):
