@import "theme.css";

table.docutils div.line-block {
    margin-left: 0;
}
.red {
    color: red;
}
.blue {
    color: red;
}
.green {
    color: green;
}
.cyan {
    color: cyan;
}
.purple{
    color: purple;
}
